.comment{
    display: flex;
    width: 100%;
    
    &__avatar{
        width: fit-content;
    }
    &__body{
        flex-grow: 1;

        &__content{
            min-height: 30px;
            padding: 0 10px;
        }

        &__action{
            *{
                font-size: 14px !important ;
            }
            display: flex;
            height: fit-content;
            justify-content: space-between;
            &__group-left{
                display: flex;
                width: fit-content;
                justify-content: space-around;
                & > *{
                    margin: 0 10px
                }
            }  
            &__group-right{
                display: none;
            }

            &:hover &__group-right{
                display: block
            }
        }
    }
}

.liked *{
    color: #1890ff !important
}
.link-behavior{
    margin-bottom: 0;
    cursor: pointer;
    &:hover{
        color: #1890ff !important
    }
}

.reply_name{
    color: #1890ff
}